*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header-banner{
    background-color: #F2CE0F;
}

.header-banner-text{

    height: auto;
    color:black;
    font-weight: 600;
    font-size: 15px;
}

.header-banner-text i {
    font-size: 1.5rem; 
    line-height: 1; 
}

.cat-logo{
    width: 100px;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 12px;
    transition: all 0.3s;
}

.nav-item a:hover{
    color: rgb(189, 10, 212);
}

.search{
    height: 45px;
    outline: none;
    border: 2px solid rgb(189, 10, 212);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}

.btn1{
    height: 45px;
    outline: none; 
    border: none;
    background-color: rgb(189, 10, 212);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.3s;
}

.btn1:hover{
    background-color: rgb(154, 6, 173);
}

.bi-basket{
    font-size: 30px;
    transition: all 0.3s;
    cursor: pointer;
}

.bi-basket:hover{
    color: rgb(154, 6, 173);
}

.carousel-inner img{
    height: 400px;
}

.card {
    width: 100%; 
    margin: 30px; 
}
  .card-img {
    margin-top: 10px;
    max-width: 35%; 
    height: auto; 
    margin-bottom: 0px;
}
.card-text {
    font-size: 12px;
    font-weight: 600;
}


